:root {
  /* Font-size */
  --font-size-large: 2rem;
  --font-size-medium: 1.6rem;
  --font-size-regular: 1.4rem;
  --font-size-small: 1.2rem;
  --font-size-micro: 1rem;
  /* font weight */
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;

  /* Color */
  --primary-main-color: #94bbe9;
  --primary-variant-color: #2579dd;
  --primary-light-color: #ffcccb91;
  --secondary-main-color: #eeaeca;
  --secondary-variant-color: #dc6398;
  --error-color: #b00020;
  --on-primary-high: rgba(0, 0, 0, 0.87);
  --on-primary-medium: rgba(0, 0, 0, 0.6);
  --on-primary-low: rgba(0, 0, 0, 0.38);
  --gray-color: rgba(0, 0, 0, 0.212);
  --on-error: #ffffff;
  /* border */

  --basic-border: 1px solid rgba(0, 0, 0, 0.12);

  /* Elevation */
  --1dp-elevation: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  --4dp-elevation: 0px 4px 5px rgba(0, 0, 0, 0.14),
    0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
  /* animation */
  --transition-duration: 300ms;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 3.2rem;
  cursor: default;
  min-height: 100vh;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    331deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  transition: background 0.5 ease-in-out;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
button {
  background-color: rgba(128, 128, 128, 0);
  color: #000000de;
  cursor: pointer;
  border: none;

  outline: none;
  /* padding: 1rem 0.8rem; */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-regular);
  line-height: 1.6rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  opacity: 0.8;
  transition: all 100ms ease-in;
}
button:hover {
  opacity: 1;
}
i {
  pointer-events: none;
}
input {
  outline: none;
  border: none;
  background-color: transparent;
}
p {
  margin: 0;
}

a:link,
a:visited {
  text-decoration: none;
}
@keyframes move-in-left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 9.6rem;
  font-style: normal;
  font-weight: var(--font-weight-light);
  line-height: 11.2rem;
  letter-spacing: -0.15rem;
  text-align: left;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: var(--font-weight-light);
  line-height: 7.2rem;
  letter-spacing: -0.05rem;
  text-align: left;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: 5.6rem;
  letter-spacing: 0rem;
  text-align: left;
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.4rem;
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 3.6rem;
  letter-spacing: 0rem;
  text-align: left;
}
h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: 2.4rem;
  letter-spacing: 0.018000000715255737rem;
  text-align: left;
}
h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 2.4rem;
  letter-spacing: 0.015000000596046448rem;
  text-align: left;
}

/* nav bar */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 6rem;
  height: 6rem;
  margin-right: 0.8rem;
}
.header__logo-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__current-info {
  font-size: var(--font-size-medium);
  font-weight: var(--font-size-regular);
}

.surface {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Today-quote section */
.today-quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80rem;
  margin: 3.2rem auto;
}

.today-quote__container {
  width: 90%;
  height: fit-content;
  margin-bottom: 2rem;
  backface-visibility: hidden;
}
.today-quote__container h5 {
  text-align: center;
  color: var(--on-primary-medium);

  margin: 2.4rem 0;
}

.today-quote__text {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-regular);
  color: var(--secondary-variant-color);
  text-align: center;
  animation: move-in-left 0.5s ease-in;
}

/* Todo-list Section */

.todo-list {
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* empty input alert */
.todo-list__alert-msg {
  width: 50%;
  position: fixed;
  left: 25%;
  height: 0;
  font-size: 2rem;
  text-align: center;
  opacity: 0;
}
.todo-list__alert-msg button {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 2rem;
  height: 2rem;
}
.todo-list__alert-msg button i {
  font-size: 2rem;
}
.alert--active {
  width: 50%;
  position: absolute;
  height: 10rem;
  font-size: 2rem;
  border-radius: 17px;
  background: linear-gradient(145deg, #e6e7ea, #c2c2c5);
  box-shadow: 8px 8px 16px #a3a4a6, -8px -8px 16px #ffffff;
  z-index: 2;
  color: var(--error-color);
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert--active p {
  height: fit-content;
}
/* new todo form */
.new-todo {
  flex: 0 0 45%;
  padding: 2.8rem;
}

.new-todo__form {
  width: 100%;
  margin-bottom: 0.4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  font-size: var(--font-size-medium);
}
.new-todo__input {
  height: 4.2rem;
  flex: 1 1 0%;
  font-size: var(--font-size-medium);
  display: inline-block;
  padding: 1.4rem 1rem 1rem 1rem;
  margin-right: 0.4rem;
  border-radius: 10px;

  border: 0.2rem solid var(--gray-color);
  padding: 0.4rem 1.6rem;
}

.new-todo__input:focus {
  border: 0.2rem solid var(--primary-variant-color);
  box-sizing: inherit;
}

.new-todo__add-btn {
  height: 50%;
  font-size: 2rem;
  margin-left: 0.4rem;
  padding: 0.8rem;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.new-todo__add-btn:hover {
  /* background-color: var(--secondary-main-color); */
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transform: translateY(-3px);
}
.new-todo__add-btn:active {
  border-radius: 10px;
  background: #c2c4db;
  box-shadow: inset 11px 11px 16px #a5a7ba, inset -11px -11px 16px #dfe1fc;
  transform: translateY(-1px);
}

/* calendar */

.calendar {
  text-align: center;
  margin: auto;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1.6rem;
}

/* calendar header */
.calendar__header {
  font-size: var(--font-size-large);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 2.4rem;
  letter-spacing: 0.015000000596046448rem;
  text-align: left;
  text-align: center;
  padding: 0.8rem 0 0.8rem 0;
}
.calendar__month-year {
  font-size: inherit;
}
.calendar__add-button {
  font-size: 2rem;
}
/* calendar body */
.calendar__days,
.calendar__dates {
  display: flex;
  font-size: var(--font-size-medium);
}
.calendar__date,
.calendar__day {
  width: 5.28%;
  margin: 0 4.5%;
  height: 150%;
  margin-bottom: 0.8rem;
  text-align: center;
  color: var(--on-primary-high);
}
.calendar__date:hover {
  cursor: pointer;
  color: #ffffff;
}
.calendar__date--selected {
  border-radius: 50%;
  color: #ffffff;
  background-color: var(--primary-variant-color);
}

/* Simple todo list */
.todos {
  height: fit-content;
  flex: 0 0 45%;
  padding: 2.8rem;
  font-size: var(--font-size-medium);
}
.todos ul li {
  height: 4.8rem;
  border-radius: 15px;

  padding: 1.6rem 0.8rem;
}
.todos ul li:nth-child(odd) {
  background: rgba(238, 174, 202, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.todos ul li:nth-child(even) {
  background: rgba(148, 187, 233, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.todos__header {
  display: block;
  height: 4.2rem;
  text-align: center;
  line-height: 4.2rem;
  margin-bottom: 0.4rem;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: var(--primary-variant-color);
}

.todos__item {
  height: 4rem;
  margin-bottom: 0.4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.todos__item__checkbox-container {
  flex: 0 0 7%;
  position: relative;
}
.todos__item__checkbox-label {
  font-size: var(--font-size-regular);
  cursor: pointer;
  position: absolute;
  top: -10px;
  left: 4px;
}
.todos__item__checkbox-button {
  display: inline-block;
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.3);
}
.todos__item__checkbox-button:hover {
  border: 3px solid rgba(255, 255, 255, 0.6);
}
.todos__item__checkbox-button::after {
  content: '';
  width: 0.4rem;
  height: 0.8rem;
  display: block;
  position: absolute;
  left: 7px;
  top: 4px;
  border: solid var(--primary-variant-color);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0;
}
.todos__item__checkbox {
  display: none;
}
.todos__item__checkbox:checked
  ~ .todos__item__checkbox-label
  .todos__item__checkbox-button::after {
  opacity: 1;
}
.todos__item__text {
  color: var(--on-primary-high);
  font-weight: var(--font-weight-medium);
  font-size: inherit;
  transition: all var(--transition-duration) linear;
  flex: 1;
  color: var(--on-primary-high);
}

.todos__checkbox {
  width: 0;
}
.todos__item__text:not(:read-only) {
  color: var(--on-primary-medium);
  font-weight: var(--font-weight-regular);
}
.todos__item__text.checked {
  text-decoration: line-through;
}
.todos__item__actions {
  flex: 0 0 20%;
  font-size: inherit;
}
.todos__item__actions button {
  padding: 0.4rem;
}
.todos__item__edit {
  color: var(--on-primary-high);
  text-align: center;
  background-color: transparent;
  padding: 0.4rem;
  font-size: inherit;
}

.todos__item__delete {
  color: var(--error-color);
  background-color: transparent;
  padding: 0.4rem;
  font-size: inherit;
}
.inactive {
  opacity: 0;
}
.todos__completed-delete {
  display: block;
  margin-left: auto;
  text-align: center;
  line-height: 100%;
  height: 3.6rem;
  border-radius: 15px;

  color: var(--on-primary-medium);
}
/* footer */
.footer {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6.4rem;
}
.footer__link {
  margin-top: 0.8rem;
  color: var(--on-primary-medium);
}

.footer__copyright {
  font-size: 1.4rem;
  margin-top: 1.6rem;
  color: var(--on-primary-low);
}

.overlay--active {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #ffffff;
  opacity: 0.4;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 60%;
  }
  body {
    margin: 1.25rem;
  }
  .new-todo.surface {
    padding: 0;
  }
  .todo-list {
    flex-direction: column;
    align-items: center;
  }
  .today-quote,
  .new-todo,
  .todos {
    width: 80%;
    margin-bottom: 1.6rem;
  }
}

@media screen and (max-width: 420px) {
  html {
    font-size: 50%;
  }
  .todo-list {
    flex-direction: column;
    align-items: center;
  }
  .today-quote,
  .new-todo,
  .todos {
    width: 100%;
  }
  .todos ul li {
    padding: 0;
  }
  .todos__item__text {
    margin-left: 1.5rem;
  }
  .todos__item__checkbox-container {
    top: 2px;
    left: 3px;
  }
}
