:root {
  /* Font-size */
  --font-size-large: 2rem;
  --font-size-medium: 1.6rem;
  --font-size-regular: 1.4rem;
  --font-size-small: 1.2rem;
  --font-size-micro: 1rem;
  /* font weight */
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;

  /* Color */
  --primary-main-color: #c2c4db;
  --primary-variant-color: #5b609a;
  --primary-light-color: #ffcccb91;
  --secondary-main-color: #dbc2c4;
  --secondary-variant-color: #a5656a;
  --error-color: #b00020;
  --on-primary-high: rgba(0, 0, 0, 0.87);
  --on-primary-medium: rgba(0, 0, 0, 0.6);
  --on-primary-low: rgba(0, 0, 0, 0.38);
  --gray-color: rgba(0, 0, 0, 0.212);
  --on-error: #ffffff;
  /* border */

  --basic-border: 1px solid rgba(0, 0, 0, 0.12);

  /* Elevation */
  --1dp-elevation: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
  --4dp-elevation: 0px 4px 5px rgba(0, 0, 0, 0.14),
    0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
  /* animation */
  --transition-duration: 300ms;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 3.2rem;
  cursor: default;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(206, 206, 207, 1) 0%,
    rgba(194, 196, 219, 1) 47%,
    rgba(91, 96, 154, 1) 100%
  );
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
button {
  background-color: rgba(128, 128, 128, 0);
  color: #000000de;
  cursor: pointer;
  border: none;

  outline: none;
  padding: 1rem 0.8rem;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-regular);
  line-height: 1.6rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  opacity: 0.8;
  transition: all 100ms ease-in;
}
button:hover {
  opacity: 1;
}
i {
  pointer-events: none;
}
input {
  outline: none;
  border: none;
  background-color: transparent;
}
p {
  margin: 0;
}
@keyframes move-in-left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 9.6rem;
  font-style: normal;
  font-weight: var(--font-weight-light);
  line-height: 11.2rem;
  letter-spacing: -0.15rem;
  text-align: left;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 6rem;
  font-style: normal;
  font-weight: var(--font-weight-light);
  line-height: 7.2rem;
  letter-spacing: -0.05rem;
  text-align: left;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: 5.6rem;
  letter-spacing: 0rem;
  text-align: left;
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.4rem;
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 3.6rem;
  letter-spacing: 0rem;
  text-align: left;
}
h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: 2.4rem;
  letter-spacing: 0.018000000715255737rem;
  text-align: left;
}
h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 2.4rem;
  letter-spacing: 0.015000000596046448rem;
  text-align: left;
}
.hover {
  background: rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}
.focus {
  background: rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.dragged {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

input[type='date'] {
  font-size: var(--font-size-regular);
}
label {
  margin-left: 0.25rem;
}

/* nav bar */
header {
  margin-bottom: 6.4rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 6rem;
  height: 6rem;
  margin-right: 0.8rem;
}
.header__logo-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__current-info {
  font-size: var(--font-size-medium);
  font-weight: var(--font-size-regular);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header__date-hour-container {
  display: flex;
  align-items: center;
}
.header__date-hour-container span {
  padding-left: 8px;
}

/* Today-quote section */
.today-quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80rem;
  margin: auto;
}

.today-quote__container {
  width: 90%;
  height: 16rem;
  margin-bottom: 2rem;
  backface-visibility: hidden;
  /* background-image: url(../img/Quote-background.svg); */
  /* background-position: top; */
  /* background-position: center;
  background-size: cover; */
  /* background-color: #c2c4db;
  border-radius: 50px; */
}
.today-quote__container h5 {
  text-align: center;
  color: var(--on-primary-medium);

  margin: 2.4rem 0;
}

.today-quote__text {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-regular);
  color: var(--secondary-variant-color);
  text-align: center;
  text-shadow: -20px -20px 21px #a5a7ba, 20px 20px 21px #dfe1fc;
  animation: move-in-left 0.5s ease-in;
}

/* Todo-list Section */
.todo-list {
  display: flex;
  justify-content: space-between;
}
.new-todo {
  margin-bottom: 4rem;
  flex: 0 0 45%;
  height: 50rem;
}

.new-todo__form {
  width: 100%;
  margin-bottom: 0.4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  font-size: var(--font-size-medium);
  /* padding: 3.2rem; */
}
.new-todo__input {
  height: 4.2rem;
  flex: 1 1 0%;
  font-size: var(--font-size-medium);
  /* background-color: var(--secondary-main-color); */
  display: inline-block;
  padding: 1.4rem 1rem 1rem 1rem;
  margin-right: 0.4rem;
  border-radius: 15px;
  /* box-shadow: 20px 20px 38px #a5a7ba, -20px -20px 38px #dfe1fc; */
  /* border: none; */
  border: 0.2rem solid var(--gray-color);
  /* width: 43.8125rem; */
  /* border: var(--basic-border); */
  /* box-shadow: var(--1dp-elevation); */
  /* font-size: var(--font-size-large); */
  /* font-weight: var(--font-weight-medium); */
  padding: 0.4rem 1.6rem;
}

.new-todo__input:focus {
  border: 0.2rem solid var(--primary-variant-color);
  box-sizing: inherit;
}

.new-todo__add-btn {
  height: 50%;
  font-size: 2rem;
  margin-left: 0.4rem;
  padding: 0.8rem;
  border-radius: 10px;
  background: linear-gradient(145deg, #d0d2ea, #afb0c5);
  box-shadow: 11px 11px 16px #a5a7ba, -11px -11px 16px #dfe1fc;
  /* box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); */
}

.new-todo__add-btn:hover {
  /* background-color: var(--secondary-main-color); */
  transform: translateY(-3px);
}
.new-todo__add-btn:active {
  border-radius: 10px;
  background: #c2c4db;
  box-shadow: inset 11px 11px 16px #a5a7ba, inset -11px -11px 16px #dfe1fc;
  transform: translateY(-1px);
}

/* calendar */

.calendar {
  text-align: center;
  margin: auto;
  border-radius: 50px;
  background: linear-gradient(145deg, #d0d2ea, #afb0c5);
  box-shadow: 21px 21px 47px #a1a3b6, -21px -21px 47px #e3e5ff;
  padding: 1.6rem;
}

/* calendar header */
.calendar__header {
  font-size: var(--font-size-large);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 2.4rem;
  letter-spacing: 0.015000000596046448rem;
  text-align: left;
  text-align: center;
  padding: 0.8rem 0 0.8rem 0;
}
.calendar__month-year {
  font-size: inherit;
}
.calendar__add-button {
  font-size: 2rem;
}
/* calendar body */
.calendar__days,
.calendar__dates {
  display: flex;
  /* justify-content: flex-start; */
  font-size: var(--font-size-medium);
}
.calendar__date,
.calendar__day {
  width: 5.28%;
  margin: 0 4.5%;
  height: 150%;
  margin-bottom: 0.8rem;
  text-align: center;
  color: var(--on-primary-high);
}
.calendar__date:hover {
  cursor: pointer;
  color: #ffffff;
}
.calendar__date--selected {
  border-radius: 50%;
  color: #ffffff;
  background-color: var(--primary-variant-color);
}

/* Simple todo list */
#my-todo-list {
  width: 45%;

  font-size: var(--font-size-medium);
}
#my-todo-list ul li {
  height: 4.8rem;
  border-radius: 15px;

  padding: 1.6rem 0.8rem;
}
#my-todo-list ul li:nth-child(odd) {
  background: var(--secondary-main-color);
  box-shadow: inset 8px 8px 16px #bca7a9, inset -8px -8px 16px #fadddf;
}
#my-todo-list ul li:nth-child(even) {
  background: var(--primary-main-color);
  box-shadow: inset 8px 8px 16px #a7a9bc, inset -8px -8px 16px #dddffa;
}

.my-todo-list__header {
  display: block;
  height: 4.2rem;
  border-radius: 15px;
  text-align: center;
  line-height: 4.2rem;
  margin-bottom: 0.4rem;
  background: linear-gradient(145deg, #d0d2ea, #afb0c5);
  box-shadow: 8px 8px 16px #a7a9bc, -8px -8px 16px #dddffa;
  color: var(--primary-variant-color);
}

.todo__list {
  height: 4rem;
  margin-bottom: 0.4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.dateinfo {
  flex: 0 0 15%;
}
.list__text {
  margin-left: 0.8rem;
  color: var(--on-primary-high);
  font-weight: var(--font-weight-medium);
  font-size: inherit;
  transition: all var(--transition-duration) linear;
  flex: 1;
  color: var(--on-primary-high);
}
.list__text:not(:read-only) {
  color: var(--on-primary-medium);
  font-weight: var(--font-weight-regular);
}
.checked {
  text-decoration: line-through;
}
.list__actions {
  flex: 0 0 20%;
  font-size: inherit;
}
.list__actions button {
  padding: 0.4rem;
}
.list__edit {
  color: var(--on-primary-high);
  text-align: center;
  background-color: transparent;
  padding: 0.4rem;
  font-size: inherit;
}
.list__edit--inactive {
  opacity: 0;
}
.list__delete {
  color: var(--error-color);
  background-color: transparent;
  padding: 0.4rem;
  font-size: inherit;
}
.inactive {
  opacity: 0;
}

/* footer */
.footer {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6.4rem;
}
.footer__contact-links {
  margin-top: 1.6rem;
  text-align: center;
  color: var(--on-primary-medium);
}
.footer__link {
  margin-bottom: 0.8rem;
}
.footer__link i {
  font-size: 4rem;
}
.footer__copyright {
  font-size: 1.4rem;
  margin-top: 1.6rem;
  color: var(--on-primary-low);
}
